# Ignore data and log directories
*_data/
*data/
log/
html/
user_*

# JetBrains
.idea
venv

# Sensitive Files
*.pdf
*.docs
*.env
.env

# Doc
doc/

# Python
__pycache__/
*.py[cod]
*.class

# IDE
.vscode/
.idea/

# Test
.pytest_cache
.coverage

# data
tiktoken

# Os
.DS_Store 