services:
    # Cria-Front MailHog
    mailhog:
      platform: linux/amd64
      image: 'docker.io/mailhog/mailhog'
      ports:
        - '127.0.0.1:8025:8025'
        - '127.0.0.1:1025:1025'
    redis:
      image: 'docker.io/redis:latest'
      environment:
        REDIS_ARGS: "--requirepass root"
      ports:
        - '127.0.0.1:6379:6379'
      volumes:
        - ./redis_data/redis.conf:/usr/local/etc/redis/redis.conf
    # Cria-Front MySQL
    mysql:
      image: 'docker.io/mysql:8.4'
      command: [ 'mysqld','--mysql-native-password=ON' ]
      restart: always
      environment:
        MYSQL_ROOT_PASSWORD: cria
      healthcheck:
        test: mysqladmin ping -h 127.0.0.1 -uroot --password=$$MYSQL_ROOT_PASSWORD
        start_period: 1s
        interval: 5s
        timeout: 5s
        retries: 5
      ports:
        - '127.0.0.1:3306:3306'
      volumes:
        - './mysql_data:/var/lib/mysql:cached'
    # Cria-Front Moodle
    cria:
      platform: linux/amd64
      image: 'uitadmin/cria:v1.1.0'
      ports:
        - '127.0.0.1:80:80'
      volumes:
        - './html/config.php:/var/www/html/config.php:cached'
        - './moodledata:/var/www/moodledata:cached'
        - './log:/var/log/apache2:cached'
      depends_on:
        - mysql
        - mailhog
        - redis
    # Cria-Front CriaScraper
    criascraper:
      image: amerkurev/scrapper:latest
      restart: unless-stopped
      ports:
        - "127.0.0.1:3000:3000"
      volumes:
        - "./user_data:/home/user/user_data"
        - "./user_scripts:/home/user/user_scripts"
    # Elasticsearch
    elasticsearch:
      image: docker.io/elasticsearch:8.13.4
      environment:
        discovery.type: single-node
        ES_JAVA_OPTS: "-Xms512m -Xmx512m"
        ELASTIC_PASSWORD: elastic
      ports:
        - "127.0.0.1:9200:9200"
        - "127.0.0.1:9300:9300"
      volumes:
        - ./elasticsearch_data:/usr/share/elasticsearch/data:cached
    # Cria-Back Criadex
    criadex:
      image: uitadmin/criadex:latest
      ports:
        - "127.0.0.1:25574:25574"
      environment:
        ENV_PATH: "./env/docker.env"
      volumes:
        - ./criadex_data:/home/cria/env
      depends_on:
        mysql:
          condition: service_healthy
        elasticsearch:
          condition: service_started
      healthcheck:
        test: [ "CMD", "curl", "-f", "http://criadex:25574/health_check" ]
        start_period: 1s
        interval: 5s
        timeout: 5s
        retries: 5
    # Cria-Back Criabot
    criabot:
      image: uitadmin/criabot:latest
      ports:
        - "127.0.0.1:25575:25575"
      environment:
        ENV_PATH: "./env/docker.env"
      volumes:
        - ./criabot_data:/home/cria/env
      depends_on:
        mysql:
          condition: service_healthy
        redis:
          condition: service_started
        criadex:
          condition: service_healthy
      healthcheck:
        test: [ "CMD", "curl", "-f", "http://criabot:25575/health_check" ]
        start_period: 1s
        interval: 5s
        timeout: 5s
        retries: 5
    # Cria-Back CriaParse
    criaparse:
      image: uitadmin/criaparse:latest
      ports:
        - "127.0.0.1:25576:25576"
      environment:
        ENV_PATH: "./env/docker.env"
      volumes:
        - ./criaparse_data:/home/cria/env
      depends_on:
        criadex:
          condition: service_healthy
    # Cria-Back Embed API
    criaembed-api:
      image: uitadmin/criaembed-api:v0.5.2-nomic
      ports:
        - "127.0.0.1:3003:3003"
      environment:
        ENV_PATH: "./env/docker.env"
      volumes:
        - ./criaembed-api_data:/home/cria/env
      depends_on:
        criabot:
          condition: service_healthy
    # Cria-Back Embed App
    criaembed-app:
      image: uitadmin/criaembed-app:v0.5.2-nomic
      ports:
        - "127.0.0.1:4000:4000"
      environment:
        ENV_PATH: "./env/docker.env"
      volumes:
        - ./criaembed-app_data:/home/cria/env
      depends_on:
        criabot:
          condition: service_healthy